div
{
  background-color: #E4F9F5;
}
body
{
  color:#40514E;
  margin: 0;
  text-align: center;
  font-family:'Merriweather',serif;
}
h1{
  color: #66BFBF;
  font-size: 5.625rem;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento',cursive;
}
h2
{  color: #66BFBF;
  font-family: 'Montserrat',sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
h3
{ color:#11999E;
  font-family: 'Montserrat',sans-serif;
}
.top-container
{
background-color: #E4F9F5;
position: relative;
padding-top:100px;
}
.top-cloud
{
  position: absolute;
  right: 100px;
  top: 50px;
}
.middle-container
{
margin: 100px 0;
}
.bottom-container
{
background-color: #66BFBF;
padding: 50px 0 20px;
}
a{
  color: #11999E;
    font-family: 'Montserrat',sans-serif;
    margin:10px 20px;
    text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.intro
{
  width: 10%;
  margin:auto;
}
.pro
{
  text-decoration: underline;
}
.bottom-cloud
{
  position: absolute;
  left: 100px;
  bottom:200px;
}
.skils-row
{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
p{
  height:2;
}
hr{
  border:dotted #EAF6F6 6px;
  border-bottom:none;
  width: 4%;
  margin:100px auto;
}
.skill
{
width: 25%;
float: left;
margin-right: 30px;
}
.s {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.contact-message
{
  width: 40%;
  margin:40px auto 60px;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat',sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.copyright
{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding:20px 0;
}
