body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Rockwell' 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Rockwell','Courier New',
    monospace;
}

main {
  min-height: 80vh;
}
h3 {
  padding: 1rem 0;
}
.rating span {
  margin: 0.1rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}


.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption{
  position: absolute;
  top:0;
}

.carousel-caption h2{
  color: #fff
}

.carousel img{
  height: 300px;
  padding:30px;
  margin:40px;
  border-radius: 50%;
}

.carousel a{
  margin: 0 auto;
}

.small-text{
  font-size: 0.5rem;
}

.curved-box{
  border-radius: 10px;
}
.curved-button{
  border-radius: 15px;
}

footer{
  background-color: darkgray;
  color: black;
  font-weight: 500;
}