body {
  background-color: lightgreen;
    /* Smoothly transition the background color */
    transition: background-color .5s;
    height: inherit;
  }
    
  /* Using flex with the column direction to
     align items in a vertical direction */
  .player {
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
    
  .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
  }
    
  .track-art {
    margin: 25px;
    height: 200px;
    width: 200px;
    background-image:url(icon.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    box-shadow: aquamarine 0px 12px 40px 10px;
    border:3px solid aquamarine;
  }
    
  /* Changing the font sizes to suitable ones */
  .now-playing {
    font-size: 1.5rem;
    color:deeppink;
  }
    
  .track-name {
    font-size: 2rem;
    font-family: 'Abril Fatface', cursive;
    color: white;
    font-weight: bold;
    margin: 0;
    color:deeppink;
    text-shadow: 5px 4px 11px rgb(0,0,0), 0 2px 5px rgb(0,0,0);
    text-align: center;
  }
    
  .track-artist {
    font-size: 1rem;
  }
    
  /* Using flex with the row direction to
     align items in a horizontal direction */
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
  }
    
  .playpause-track,
  .prev-track,
  .next-track {
    padding: 12px;
    opacity: 0.8;
    
    /* Smoothly transition the opacity */
    transition: opacity .2s;
  }
    
  /* Change the opacity when mouse is hovered */
  .playpause-track:hover,
  .prev-track:hover,
  .next-track:hover {
    opacity: 1.0;
  }
    
  /* Define the slider width so that it scales properly */
  .slider_container {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  /* Modify the appearance of the slider */
  .seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
    
  /* Modify the appearance of the slider thumb */
  .seek_slider::-webkit-slider-thumb,
  .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
  }
    
  /* Change the opacity when mouse is hovered */
  .seek_slider:hover,
  .volume_slider:hover {
    opacity: 1.0;
  }
    
  .volume_slider {
    width: 30%;
  }
    
  .current-time,
  .total-duration {
    padding: 10px;
  }
    
  i.fa-volume-down,
  i.fa-volume-up {
    padding: 10px;
  }
    
  /* Change the mouse cursor to a pointer
     when hovered over */
  i.fa-play-circle,
  i.fa-pause-circle,
  i.fa-step-forward,
  i.fa-step-backward {
    cursor: pointer;
  }

  .player{
    border:1px solid transparent;
    width:fit-content;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:30px 80px;
    font-weight:bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: white;
    box-shadow: rgba(228, 218, 218, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background:silver;
    height:100%;
    margin-left:auto;
    margin-right: auto;
    margin-top:2%;
    padding: auto;
    margin-bottom:0;
    vertical-align:middle;
    border-radius: 35px;
  }


  .track-name{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: write 4.5s steps(40, end),blink-caret .75s step-end infinite;
    animation-iteration-count:infinite;
  }
  
  /* The typing effect */
  @keyframes write {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: lightgreen; }
  }
